<% content_for :head do %>
  <%= stylesheet_link_tag "app/users/users.css" %>
  <%= javascript_include_tag "app/users/detail.js" %>
<% end %>

<div class="shadow-right">
  <div class="list-heading user-detail-title">
    <h1>Users</h1>
  </div>

  <div class="detail-head user-detail-head">
    <h2><%= link_to "List", users_path %> :: <%= @user.new_record? ? "New user" : "user ##{@user.id}" %></h2>
  </div>

  <div class="detail-body user-detail-body">

    <div class="detail-main">

      <p class="notice"><%= notice %></p>

      <div id="user_detail" class="user-head">
        <% if @user.new_record? %>
          <%= render 'form' %>
        <% else %>
          <%= render 'record_detail', :object => @user %>
        <% end %>
      </div>

      <div id="user_body" class="user-body">
        <% unless @user.new_record? %>
          <%= render 'record_body', :object => @user %>
        <% end %>
        <div class="detail-footer"></div>
      </div>
    </div>

    <div id="detail_actions" class="detail-actions user-detail-actions">
      <% unless @user.new_record? %>
        <%= render "detail_actions" %>
      <% end %>
    </div>
    <div class="detail-footer"></div>
  </div>
</div>
